/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio-section {
    background-color: #121212;
    color: #00ffcc;
    min-height: 100vh;
    padding: 50px 0;
    transition: all 0.3s ease;
}

.portfolio-section.light {
    background-color: #f4f4f4;
    color: #222222;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
}

.uzum-market {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeUp 1s ease forwards;
    opacity: 0;
    background-color: transparent;
}

.uzum-market:hover {
    transform: translateY(-5px);
}

.uzum_img {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.uzum_img:hover {
    transform: scale(1.05);
}

.uzum-market a {
    text-decoration: none;
    color: #00ffcc;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.portfolio-section.light .uzum-market a {
    color: #007f66;
}

.uzum-market a:hover {
    color: #00c2a0;
}

/* Fade-up animatsiyasi */
@keyframes fadeUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* media */
@media (max-width: 768px) {
    .uzum-market {
        padding: 20px;
    }

    .uzum_img {
        max-width: 70%;
    }

    .uzum-market a {
        font-size: 22px;
    }

    .portfolio-container {
        margin-bottom: 150px;
        padding: 0 20px;
    }
}